@charset "utf-8";
/* CSS Document */

/* 	INFO 

COLORS
dark blue: #003366
green: #BBCAE8
orange: #336699
midnight: #4c4c4c
gray: #d2d2d2 
light gray: #ededed

*/

#electrical #department {  /* THIS EXTENDS THE RULE IN THE PENN STATE MARK - MUST BE RECOLORED IF BACKGROUND COLOR CHANGES */
	background:url(../images/logoLine.gif) no-repeat left top;
	}
#electrical #masthead, #electrical #footer {
	background-color:#003366;
	}
#electrical #department h1.whichDepartment {
	border-color:#003366;
	}

/*** HORIZONTAL NAV BAR (ALL PAGES) ***/
#electrical #primaryNavigation {
	background-color:#FFFFFF; /* THIS COLORS THE HORIZONTAL NAV BAR BACKGROUND */
	}
#electrical #primaryNavigation li.active a {
	color:#003366; /* THIS COLORS THE TEXT IN THE ACTIVE LINK */
	}

/*** FIRST COLUMN SECONDARY NAVIGATION (ALL PAGES) ***/
#electrical #secondaryNavigation a:hover {
	background:#003366;
	}
#electrical #secondaryNavigation li.active a {
	background:#FFFFFF;
	}

/*** FIRST COLUMN SUBNAVIGATION (ALL PAGES) ***/
#electrical #subNavigation {
	border-bottom:solid 10px #BBCAE8;
	}
#electrical #subNavigation h1 {
	background-color:#FFFFFF;
	}
	
/*** SECOND COLUMN (HOME PAGE ONLY) ***/
#electrical #copy h1 {
	color:#003366;
	}
#electrical #latestNews h1 {
	color:#003366;
	}
#electrical #latestNews h2 {
	color:#003366;
	}

/*** SECOND COLUMN (INNER PAGE, THREE COLUMN LAYOUT) ***/

body.threeColumn #secondColumn #copy h1 {
	color:#003366;
	}
body.threeColumn #secondColumn #copy h2 {
	color:#003366;
	}
body.threeColumn #secondColumn #copy h1.no-blurb {
	color:#003366;
	}
	
/*** EXTENDED NAVIGATION (INNER PAGE, THREE COLUMN LAYOUT) ***/
body.threeColumn #extendedNavigation {
	border-bottom:solid 10px #FFFFFF;
	}
body.threeColumn #extendedNavigation h1 {
	background-color:#FFFFFF;
	}
		
/*** RELATED LINKS (INNER PAGE, THREE COLUMN LAYOUT) ***/
#electrical #relatedLinks {
	background-color:#003366;
	}

/*** WIDE COLUMN (INNER PAGE, TWO COLUMN LAYOUT ***/
#electrical #blurb {
	background-color:#FFFFFF;
	}
#electrical #wideColumn #copy h2 {
	color:#003366;
	}
	
/*** THIRD COLUMN (HOME PAGE ONLY) ***/
#electrical #featureStory h1, #electrical #upcomingEvents h1 {
	background:url(../images/lineThickVertical.gif) no-repeat 7px 6px #FFFFFF;
	}
#electrical #upcomingEvents .event h2 {	
	color:#003366;
	}

/*** FACULTY PROFILE ***/
#electrical #profileHeading {
	background-color:#FFFFFF;
	}