@charset "utf-8";
/* CSS Document */



#electrical #department {  /* THIS EXTENDS THE RULE IN THE PENN STATE MARK - MUST BE RECOLORED IF BACKGROUND COLOR CHANGES */
	/ background: no-repeat left top;
	}
#electrical #masthead, #electrical #footer {
	background-color:#FFFFFF;
	}
#electrical #department h1.whichDepartment {
	border-color:#FFFFFF;
	}

/*** HORIZONTAL NAV BAR (ALL PAGES) ***/
#electrical #primaryNavigation {
	background-color:#FFFFFF; /* THIS COLORS THE HORIZONTAL NAV BAR BACKGROUND */
	}
#electrical #primaryNavigation li.active a {
	color: DarkRed; /* THIS COLORS THE TEXT IN THE ACTIVE LINK */
	}

/*** FIRST COLUMN SECONDARY NAVIGATION (ALL PAGES) ***/
#electrical #secondaryNavigation a:hover {
	background: DarkRed;
	}
#electrical #secondaryNavigation li.active a {
	background:#FFFFFF;
	}

/*** FIRST COLUMN SUBNAVIGATION (ALL PAGES) ***/
#electrical #subNavigation {
	border-bottom:solid 5px DarkRed;
	}
#electrical #subNavigation h1 {
	background-color:#FFFFFF;
	}
	
/*** SECOND COLUMN (HOME PAGE ONLY) ***/
#electrical #copy h1 {
	color: DarkRed;
	}
#electrical #latestNews h1 {
	color: DarkRed;
	}
#electrical #latestNews h2 {
	color: DarkRed;
	}

/*** SECOND COLUMN (INNER PAGE, THREE COLUMN LAYOUT) ***/

body.threeColumn #secondColumn #copy h1 {
	color: DarkRed;
	}
body.threeColumn #secondColumn #copy h2 {
	color: DarkRed;
	}
body.threeColumn #secondColumn #copy h1.no-blurb {
	color: DarkRed;
	}
	
/*** EXTENDED NAVIGATION (INNER PAGE, THREE COLUMN LAYOUT) ***/
body.threeColumn #extendedNavigation {
	border-bottom:solid 10px DarkRed;
	}
body.threeColumn #extendedNavigation h1 {
	background-color:#FFFFFF;
	}
		
/*** RELATED LINKS (INNER PAGE, THREE COLUMN LAYOUT) ***/
#electrical #relatedLinks {
	background-color: DarkRed;
	}

/*** WIDE COLUMN (INNER PAGE, TWO COLUMN LAYOUT ***/
#electrical #blurb {
	background-color:#FFFFFF;
	}
#electrical #wideColumn #copy h2 {
	color: DarkRed;
	}
	
/*** THIRD COLUMN (HOME PAGE ONLY) ***/
#electrical #featureStory h1, #electrical #upcomingEvents h1 {
	background:url(../images/lineThickVertical.gif) no-repeat 7px 6px #FFFFFF;
	}
#electrical #upcomingEvents .event h2 {	
	color: DarkRed;
	}

/*** FACULTY PROFILE ***/
#electrical #profileHeading {
	background-color:#FFFFFF;
	}