
body {
	font-family:  Sans-serif;
	font-size:85%;
	font-weight:normal;
	background-color:white ;
	padding-bottom: 8px;
	margin: 0;


	}


a {
	color:#336699; /* THIS SETS DEFAULT COLOR FOR LINKS */
	text-decoration:none;
	}
a:hover {
	text-decoration:underline;
	}
br.clear {
	clear:both;
	}
	
	

	
h2, h3 {
	color: #527bbd;
	margin-top: 0.7em;
	margin-bottom: 0.3em;
	padding-bottom: 0.2em;
	line-height: 1.0;
	padding-top: 0.5em;
	border-bottom: 1px solid #aaaaaa;
}

h1 {

	font-size: 165%;
}

h2 {
	padding-top: 0.8em;
	font-size: 150%;
}

h2 + h3 {
    padding-top: 0.2em;
}

h3 {
	font-size: 110%;
	border-bottom: none;
}

p {
	margin-top: 0.0em;
	margin-bottom: 0.8em;
	padding: 0;
	line-height: 1.3;

}
pre {
	padding: 0;
	margin: 0;
}

div#footer {
	font-size: small;
	border-top: 1px solid #c0c0c0;
	padding-top: 0.1em;
	margin-top: 4.0em;
	color: #c0c0c0;
}

div#footer a {
	color: #80a0b0;
}

div#footer-text {
	float: left;
	padding-bottom: 8px;
}

ul, ol, dl {
	margin-top: 0.2em;
	padding-top: 0;
	margin-bottom: 0.8em;
}

dt {
	margin-top: 0.5em;
	margin-bottom: 0;
}

dl {
	margin-left: 20px;
}

dd {
	color: #222222;
}

dd > *:first-child {
	margin-top: 0;
}

ul {
	list-style-position: outside;
	list-style-type: square;
}



p + ul, p + ol {
	margin-top: -0.5em;
}

li ul, li ol {
	margin-top: -0.3em;
}

ol {
	list-style-position: outside;
	list-style-type: decimal;
}

li p, dd p {
	margin-bottom: 0.3em;
}


ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}
	
/*** WRAP ***/
#wrap {
	margin-left:50px;
	margin-right:100px;
	width:1000px;
	}
	
/*** BACKGROUND GIF IMAGES ***/
#wrap {
	background:white;  /* home page only */
	}
.full #wrap {
	background:url(../images/bgInside.gif) repeat-y;  /* inner page, 2-column layout */
	}
.threeColumn #wrap {
	background:white;  /* inner page, 3-column layout */
	}

/*** MASTHEAD (ALL PAGES) ***/
#masthead {
	color:#fff;
	width:1000px;
	}
#logo {
	float:left;
	margin:14px 0 0 15px;
	}
#search2 {  /* NOTE: COE LINK IS CONTAINED IN SEARCH DIV */
	float:right;
	text-align:right;
	width:300px;
	}
	#search div {
		padding:2px 3px 3px 2px;
		margin:0 2px 0 0;
		}
	#search h1 {
		font-size:12px;
		padding:14px 10px 5px 0;
		}
	#search a {
		color:#FFF;
		}
	#search a:hover {
		font-weight:bold;
		text-decoration:none;
		}
	#search form {
		}
		#searchSelect {
			border:1px solid #afafaf;
			margin:0 0 2px 0;
			width:181px;
			}
		#searchText {
			background:#e5e5e5;
			border:1px solid #ccc;
			font-size:1.1em;
			margin:0 2px 0 0;
			width:152px;
			float:left;
			}
		#go {
			background:#ccc;
			border:1px solid #afafaf;
			color:#000000;
			font-size:1.1em;
			margin:0;
			padding:0;
			width:22px;
			float:right;
			}
#search {  /* NOTE: COE LINK IS CONTAINED IN SEARCH DIV */
	float:right;
	text-align:right;
	width:188px;
	}
	#search div {
		padding:2px 3px 3px 2px;
		margin:0 2px 0 0;
		}
	#search h1 {
		font-size:12px;
		padding:14px 10px 5px 0;
		}
	#search a {
		color:#FFF;
		}
	#search a:hover {
		font-weight:bold;
		text-decoration:none;
		}
	#search form {
		}
		#searchSelect {
			border:1px solid #afafaf;
			margin:0 0 2px 0;
			width:181px;
			}
		#searchText {
			background:#e5e5e5;
			border:1px solid #ccc;
			font-size:1.1em;
			margin:0 2px 0 0;
			width:152px;
			float:left;
			}
		#go {
			background:#ccc;
			border:1px solid #afafaf;
			color:#000000;
			font-size:1.1em;
			margin:0;
			padding:0;
			width:22px;
			float:right;
			}
#department.tagline {
	float:left;
	margin:31px 0 0 0;
	padding-top:2px;
	}
	#department.tagline h1.prefixDepartment {
		font-size:1.4em;
		line-height:1.6em;
		}
	#department.tagline h1.whichDepartment {
		font-size:2.2em;
		line-height:1.1em;		
		padding:0 0 5px 0;
		border-bottom:solid 1px #fff;
		}
	#department.tagline p {
		padding:5px 0 15px 0;
		}
#department {
	float:left;
	margin:31px 0 22px 0;
	padding-top:10px;
	}
	#department h1.prefixDepartment {
		font-size:1.4em;
		line-height:1.6em;
		}
	#department h1.whichDepartment1 {
		font-size:2.2em;
		line-height:1.1em;		
		padding:0 0 5px 0;
		}	
	#department h1.whichDepartment {
		font-size:2.2em;
		line-height:1.1em;		
		padding:0 0 5px 0;
		border-bottom:solid 1px #fff;
		}	
		
/*** CONTENT ***/
#content {
	width:1000px;
	}

/*** HORIZONTAL NAV BAR (ALL PAGES) ***/
#primaryNavigation {
	font-size:1.2em;
	width:1000px;	
	}
	#primaryNavigation ul {
		margin:0 0 0 15px;
		}
	#primaryNavigation li {
		float:left;
		padding-left:1px;
		}
	#primaryNavigation a {
		background:url(../images/borderNavigation.gif) no-repeat right 9px;
		color:#FFF;
		display:block;
		padding:0 0 0 5px;
		}
	#primaryNavigation li.last a, #primaryNavigation li.activeLeft a {
		background-image:none;
		}
	#primaryNavigation li.active a {
		background:url(../images/tabLeft.gif) no-repeat top left;
		}
	#primaryNavigation span {
		display:block;
		padding:8px 20px 8px 20px;
		}
	#primaryNavigation li.active span {
		background:url(../images/tabRight.gif) no-repeat top right;
		padding:8px 20px 8px 20px;
		}

/*** BODY ***/
#body {
	width:1000px;
	border-top:solid 6px #FFF;
	}
		
/*** FIRST COLUMN (ALL PAGES) ***/
#firstColumn {
	float:left;
	font-size:1.2em;
	padding:20px 0;
	width:192px;
	border-top:solid 1px #d2d2d2 ;
	}
#formNavigation { /* THIS STYLES THE QUICK LINKS DROPDOWN MENU */
	}
	#formNavigation h1 {
		font-weight:normal;
		margin:0 0 8px 15px;
		color:#336699;
		}
	#formNavigation form {
		margin:0 0 13px 15px;
		}
	#formNavigation select {
		width:163px;
		}
		
/*** FIRST COLUMN SECONDARY NAVIGATION (ALL PAGES) ***/
#secondaryNavigation ul {
	width:192px;
	}
#secondaryNavigation li {
	line-height:1.5em;
	border-bottom:1px solid #d2d2d2 ;
	}
#secondaryNavigation li a {
	display:block;
	padding:2px 0 3px 15px;
	}
#secondaryNavigation li.active a {
	color:#fff;
	text-decoration:none;
	}
#secondaryNavigation a {
	/*color:#4c4c4c;*/
	color:#000055;
	font-weight:bold;
	
	}
#secondaryNavigation a:hover {
	color:#fff;
	text-decoration:none;
	}

/*** FIRST COLUMN SUBNAVIGATION (ALL PAGES) ***/
#subNavigation {
	margin:0 0 15px 0;
	padding:0 0 0 0;
	}
	#subNavigation h1 {
		color:#fff;
		font-size:13px;
		line-height:13px;
		padding:6px 0;
		text-indent:15px;
		font-weight:bold;
		}
	#subNavigation ul {
		background-color:#ededed;
		}
	#subNavigation li {
		line-height:12px;
		padding:7px 0 5px 15px;
		border-top:1px solid #b4b4b4;
		}
	#subNavigation li.active a {
		color:#336699;
		}
	#subNavigation li ul {
		padding:7px 0 0 0;
		background-color:#ededed;
		}
	#subNavigation li li {
		padding:7px 0 5px 12px;
		background-color:#ededed;
		border:0;
		}
	#subNavigation li li.active {
		background:url(../images/bullet.gif) no-repeat left 10px;
		}
	#subNavigation li li.active a {
		color:#336699;
		}
	#subNavigation a {
		color:#4c4c4c;
		}
	#subNavigation a:hover {
		color:#336699;
		text-decoration:none;
		}
			
/*** SECOND COLUMN (HOME PAGE ONLY) ***/
#secondColumn {
	float:left;
	width:351px;
	border-top:solid 1px #d2d2d2 ;
	}
body.index #secondColumn #copy {
	margin:18px 0 0 0;
	width:auto;
	}
body.index #secondColumn #copy h1 { /* STYLES HEADING TO INTRO PARAGRAPHS */
	font-size:1.5em;
	margin:0 15px 10px 5px;
	padding:0;
	text-indent:0;
	}
body.index #secondColumn #copy p { /* STYLES INTRO PARAGRAPHS */
	line-height:1.6em;
	margin:0 15px 16px 5px;
	color:#4c4c4c;
	}
#latestNews {
	width:337px;
	}
#latestNews h1 { /* THIS STYLES LATEST NEWS HEADING */
	font-size:1.5em;
	padding:6px 0 7px 0;
	text-indent:5px;
	background-color:#ededed;
	}
.story { /* THIS STYLES NEWS ITEMS */
	margin:8px 0 15px 5px;
	}
#secondColumn #latestNews .story h1 {
	font-size:1em;
	line-height:1.6em;
	padding:0;
	text-indent:0;
	width:auto;
	}
.story img {
	border:1px solid #4c4c4c;
	float:left;
	margin:0 7px 0 0;
	}
.story p, .story h2 { /* THIS STYLES TEXT IN NEWS ITEMS */
	font-weight:normal;
	line-height:1.6em;
	color:#4c4c4c;
	}

/*** THIRD COLUMN (HOME PAGE ONLY) ***/
#thirdColumn {
	float:left;
	width:229px;
	padding:0 0 50px 0;
	border-top:solid 1px #d2d2d2 ;
	}
#featureStory {
	margin:0 0 7px 3px;
	width:226px;
	}
	#featureStory h1 {
		color:#fff;
		font-size:1.5em;
		margin:0 0 4px 0;
		padding:4px 3px 5px 0;
		text-indent:18px;
		width:226px;
		}
	#featureStory p {
		color:#4c4c4c;
		line-height:1.6em;
		margin:0 11px 0 7px;
		}
	#featureStory h2 {
		font-weight:normal;
		line-height:1.6em;
		margin:0 0 0 7px;
		}
#upcomingEvents {
	margin:0 0 0 3px;
	}
	#upcomingEvents h1 {
		color:#fff;
		font-size:1.5em;
		margin:0 0 4px 0;
		padding:4px 3px 5px 0;
		text-indent:18px;
		width:226px;
		}
	#upcomingEvents .event {
		margin:13px 0 14px 0;
		}
	#upcomingEvents .event h1 {
		font-size:1em;
		line-height:1.6em;
		margin:0 0 0 7px;
		text-indent:0;	
		padding:0;
		width:auto;	/* resets h1 width from #upcomingEvents div */			
		}
	#upcomingEvents .event p {
		font-size:1em;
		line-height:1.6em;
		margin:0 15px 0 7px;
		color:#4c4c4c;
		}
	#upcomingEvents .event h2 {
		line-height:1.6em;
		margin:0 0 0 7px;
		}
		
/*** FOOTER ***/
#footer {
	clear:both;
	color:#fff;
	font-size:1em;
	letter-spacing:-.05em;
	padding:9px 0;
	text-align:center;
	width:875px;
	}
	#footer a {
		color:#fff;
		}
	#footer li {
		display:inline;
		padding:0 3px;
		}
		
/*** WIDE COLUMN (INNER PAGE, TWO COLUMN LAYOUT) ***/
#wideColumn {
	float:left;
	width:683px;
	border-top:solid 1px #d2d2d2 ;
	padding-top:20px;
	}
#blurb {
	margin:10px 0 0 7px;
	width:676px;
	height:40px;
	}
	#blurb img {
		width:526px;
		margin-left: 25px; 
		margin-top: 20px;
		}
	#blurb h1 {
		font-size:20px;
		font-weight:normal;
		padding:10px 15px 15px 15px;
		color:#fff;
		width:359px;
		float:left;
		}
	#blurb p {
		font-size:11px;
		line-height:16px;
		padding:0 15px 15px 15px;
		color:#fff;
		width:359px;
		float:left;
		}
#no-blurb {
	margin:0 0 0 7px;
	width:676px;
	height:200px;
	}
	#no-blurb img {
		width:526px;
		margin-left: 25px; 
		}
#no-blurb2 {
	margin:0 0 0 7px;
	width:676px;
	height:130px;
	}
	#no-blurb2 img {
		margin-left: 25px; 
		}
#wideColumn #copy {
	margin:0 0 0 5px;
	width:676px;
	}
	#wideColumn #copy h1 {
		font-size:15px;
		font-weight:normal;
		margin:10px 0;
		padding:7px 0 6px 0;
		text-indent:5px;
		background-color:#ededed;
		}
	#wideColumn #copy h1.no-blurb {
		margin:0 0 10px 0;
		}
	#wideColumn #copy h2 {
		font-size:14px;
		font-weight:normal;
		margin:10px 0 0 7px;
		padding:0 8px 4px 0;
		text-align:justify;
		}
	#wideColumn #copy p {
		line-height:16px;
		margin:0 7px 16px 7px;
		padding:0;
		color:#4c4c4c;
		}
	#wideColumn #copy img {
		border:0px solid #4c4c4c;
		float:left;
		margin:4px 7px 0 7px;
		}
	#wideColumn #copy #bulletList {
		line-height:16px;
		margin:0 7px 16px 7px;
		padding:0;
		color:#4c4c4c;
		}
	#wideColumn #copy #numberList {
		line-height:16px;
		margin:0 7px 16px 7px;
		padding:0;
		color:#4c4c4c;
		}
	#wideColumn #copy ol {
		line-height:16px;
		margin:0 7px 16px 20px;
		padding:10px;
		color:#4c4c4c;
		}
	#wideColumn #copy ul {
		line-height:16px;
		margin:0 7px 16px 20px;
		padding:10px;
		color:#4c4c4c;
		}

	#wideColumn #copy #table {
		line-height:16px;
		margin:0 7px 16px 7px;
		padding:0;
		color:#4c4c4c;
		}
	#wideColumn #copy .profile {
		margin:0 0 22px 7px;
		padding:0 15px 0 0;
		clear:left;
		border-top:solid 1px #d2d2d2 ;
		}
		#wideColumn #copy .profile img {
			float:left;
			border:solid 1px #4c4c4c;
			margin:5px 10px 5px 0;
			}
		#wideColumn #copy .profile h2 {
			/*font-size:10px;*/
			line-height:20px;
			padding:0;
			margin-top:5px;
			text-indent:0;
			background:none;
			font-weight:bold;
			color:#4c4c4c;
			}
		#wideColumn #copy .profile p {
			line-height:15px;
			margin:0 0 0 0;
			text-align:justify;
			color:#4c4c4c;
			}

/*** SECOND COLUMN (INNER PAGE, THREE COLUMN LAYOUT) ***/
#secondColumn #copy img {
	border:1px solid #4c4c4c;
	float:left;
	margin:4px 7px 0 7px;
	}
body.threeColumn #secondColumn {
	float:left;
	width:398px;
	border-top:solid 1px #d2d2d2 ;
	padding-top:20px;
	}
	body.threeColumn #secondColumn #blurb {
		margin:0 0 0 7px;
		width:384px;
		height:176px;
		}
		body.threeColumn #secondColumn #blurb img {
			float:left;
			}
		body.threeColumn #secondColumn #blurb h1 {
			font-size:20px;
			font-weight:normal;
			padding:25px 15px 15px 15px;
			color:#fff;
			width:216px;
			float:left;
			}
		body.threeColumn #secondColumn #blurb p {
			font-size:11px;
			line-height:16px;
			padding:0 15px 15px 15px;
			color:#fff;
			width:216px;
			float:left;
			}		
	body.threeColumn #secondColumn #no-blurb {
		margin:0 0 0 7px;
		width:384px;
		}
		body.threeColumn #secondColumn #no-blurb img {
			float:left;
			}
	body.threeColumn #secondColumn #copy {
		margin:0 7px;
		width:384px;
		}
		body.threeColumn #secondColumn #copy h1 {
			background-color:#ededed;
			font-size:15px;
			font-weight:normal;
			margin:10px 0;
			padding:7px 0 6px 0;
			text-indent:5px;
			}
		body.threeColumn #secondColumn #copy h1.no-blurb {
			background-color:#ededed;
			margin-top:0;
			}
		body.threeColumn #secondColumn #copy h2 {
			font-size:12px;
			margin:10px 0 0 7px;
			padding:0 0 4px 0;
			}
		body.threeColumn #secondColumn #copy p {
			line-height:16px;
			margin:0 0 16px 7px;
			padding:0;
			color:#4c4c4c;
			}
		body.threeColumn #secondColumn #copy #numberList {
			color:#4c4c4c;
			}
		body.threeColumn #secondColumn #copy #bulletList {
			color:#4c4c4c;
			}
		body.threeColumn #secondColumn #copy #table {
			color:#4c4c4c;
			}
			
/*** THIRD COLUMN (INNER PAGE, THREE COLUMN LAYOUT) ***/
body.threeColumn #thirdColumn {
	float:left;
	width:185px;
	padding-top:20px;
	}
body.threeColumn #thirdColumn #image {
	margin:0 0 25px 0;
	}
	body.threeColumn #thirdColumn #image p {
		margin:0 0 25px 0;
		padding:3px 1px 0 2px;
		color:#4c4c4c;
		}
		
/*** EXTENDED NAVIGATION (INNER PAGE, THREE COLUMN LAYOUT) ***/
body.threeColumn #extendedNavigation {
	margin:0 0 25px 0;
	color:#fff;
	}
	body.threeColumn #extendedNavigation h1 {
		font-size:13px;
		line-height:15px;
		padding:6px 0 6px 0;
		text-indent:15px;
			}
	body.threeColumn #extendedNavigation ul {
		background-color:#ededed;
		}		
	body.threeColumn #extendedNavigation li {
		font-size:13px;
		line-height:12px;
		padding:7px 0 5px 15px;
		border-top:1px solid #b4b4b4;
		}
	body.threeColumn #extendedNavigation li ul {
		padding:7px 0 0 0;
		background-color:#ededed;
		}
	body.threeColumn #extendedNavigation li.active a {
		color:#336699;
		}
	body.threeColumn #extendedNavigation li li {
		background-color:#ededed;
		border:0;
		padding:7px 0 5px 12px;
		}
	body.threeColumn #extendedNavigation li li.active {
		background:url(../images/bullet.gif) no-repeat left 10px;
		}
	body.threeColumn #extendedNavigation li li.active a {
		color:#336699;
		}
	body.threeColumn #extendedNavigation a {
		color:#4c4c4c;
		}
	body.threeColumn #extendedNavigation a:hover {
		color:#336699;
		text-decoration:none;
		}

/*** RELATED LINKS (INNER PAGE, THREE COLUMN LAYOUT) ***/
body.threeColumn #relatedLinks {
	padding:15px 10px 15px 10px;
	}
	body.threeColumn #relatedLinks h1 {
		font-size:13px;
		color:#fff;
		}
	body.threeColumn #relatedLinks ul {
		padding-bottom:5px;
		}
	body.threeColumn #relatedLinks li {
		font-size:13px;
		line-height:12px;
		padding:15px 7px 0 10px;
		}
	body.threeColumn #relatedLinks a {
		color:#fff;
		}

/*** FACULTY PROFILE ***/
#profileHeading {
	margin:0 0 0 7px;
	width:676px;
	height:176px;
	}
	#profileHeading img {
		float:left;
		}
	#profileHeading h1 {
		font-size:18px;
		font-weight:normal;
		padding:12px 12px 2px 12px;
		color:#fff;
		width:419px;
		float:left;
		}
	#profileHeading h2 {
		font-size:11px;
		line-height:16px;
		font-weight:normal;
		padding:0 12px;
		color:#fff;
		width:419px;
		float:left;
		}
	#profileHeading #contactInfo {
		width:419px;
		float:left;
		padding:12px;
		}
	#profileHeading #contactInfo p {
		font-size:11px;
		line-height:16px;
		color:#fff;
		}
	#profileHeading #contactInfo a {
		color:#fff;
		text-decoration:underline;
		}

/*** TABLES ***/

#table {
	margin:0 14px 20px 11px;
	padding-top:7px;
	border-collapse: collapse;

	}
	#table tr th {
		background-color:#ededed;
		border:1px solid #4c4c4c;
		padding:4px;
		text-align:center;
		font-weight:bold;
		}
	#table tr th.left {
		text-align:left;
		}
	#table tr td {
		border:1px solid #4c4c4c;
		padding:4px;
		text-align:center;
		}
	#table tr td.left {
		border:1px solid #4c4c4c;
		padding:4px;
		text-align:left;
		}

/*** TEXT FORMATTING ***/
.bold {
	font-weight:bold;
	}
.ital {
	font-style:italic;
	}

/*** LISTS ***/
#bulletList ul {
	list-style:square;
	padding:0 7px 6px 20px;
	}
#bulletList li {
	padding-bottom:10px;
	line-height:12px;
	}
#numberList ul {
	list-style:decimal;
	padding:0 7px 6px 25px;
	}
#numberList li {
	padding-bottom:10px;
	line-height:12px;
	}


table.sample {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.sample th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.sample td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}





